#root {
    font-family: 'Roboto';
}
.btn {
    margin-right: 20px;

}
li {
    list-style: none;
}
img {
    width: 100%;
}
.footer {
    margin-top: 40px;
}
.nav {
    font-weight: bold;
}
.navbar-header {
    margin-right: -90px !important;
}
.navbar-toggle {
    position: relative;
    right: 70px;
}
.logo {
    width: 60%;
    position: relative;
    top: -10px;
}
.jumbotron {
    text-align: center;
    h1{
        margin-top: 0;
    }
}
.page-header {
    text-align: center;
    font-size: 3rem;
}




.rolldown-list {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  .rolldown-list li {
    padding: 1em;
    margin-bottom: .125em;
    display: block;
    list-style: none;
    // text-transform: uppercase;
  }
  
  .rolldown-list li {
    visibility: hidden;
    animation: rolldown .7s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
  }
  
  .rolldown-list li {
    background-color: #F8F8F8;
  }
  
  #myList {
    position: relative;
    width: 80%; 
    left: 10%;

  }
  

  
  @keyframes rolldown {
    0% {
      visibility: visible;
      transform: rotateX(180deg) perspective(500px);
    }
    70% {
      visibility: visible;
      transform: rotateX(-20deg);
    }
    100% {
      visibility: visible;
      transform: rotateX(0deg);
    }
  }