#root {
  font-family: "Roboto";
}
.btn {
  margin-right: 20px;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.jumbo {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 5.6vh;
  .name {
    font-size: 1.62vw;
    width: 57vw;
    float: right;
    position: relative;
    top: 2.9em;
  }
  .address {
    font-size: 1.62vw;
    width: 45vw;
    float: right;
    position: relative;
    top: 3.6em;
  }
}
.description {
  background-color: $secondary;
  text-align: center;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 5px;
  line-height: 1.5em;
}
iframe {
  width: 100%;
}
