#root {
  font-family: "Roboto";
}
.btn {
  margin-bottom: $margin-bottom;
}
ul {
  margin-bottom: 5vh;
}
li {
  list-style: none;
}
img {
  width: 100%;
  margin-bottom: 5vh;
}
.description {
  text-align: justify;
  padding: 0.5em;
  margin-top: 2em;
  border-radius: 5px;
  line-height: 1.5em;
}
iframe {
  width: 100%;
  margin-bottom: 2em;
}
