nav {
  position: relative;
  background-color: $primary;
  font-weight: bold;
  overflow: hidden;
  .navbar-header {
    background-color: $primary;
    margin-right: -90px !important;
  }
  .navbar-toggle {
    position: absolute;
    right: 5px;
  }
  .logo {
    width: 60%;
    position: relative;
    top: -10px;
  }
  .active a {
    background-color: $secondary !important;
  }
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
