@mixin list {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  li {
    background-color: $primary;
    padding: 1em;
    margin-bottom: 0.125em;
    list-style: none;
    visibility: hidden;
    animation: rolldown 0.7s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
    text-align: center;
  }
}
.rolldown-list {
  @include list;
  width: 100%;
}
.rolldown-list-small {
  @include list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
